asgiref==3.7.2
backports.zoneinfo==0.2.1
certifi==2019.11.28
chardet==3.0.4
dbus-python==1.2.16
distro==1.4.0
Django==4.2.3
djangorestframework==3.14.0
idna==2.8
mysqlclient==2.2.0
Pillow==10.0.0
psycopg2==2.9.6
psycopg2-binary==2.9.6
PyGObject==3.36.0
PyMySQL==1.1.0
pytz==2023.3
requests==2.22.0
six==1.14.0
sqlparse==0.4.4
ssh-import-id==5.10
typing_extensions==4.7.1
urllib3==1.25.8
uWSGI==2.0.21
