a {
    text-decoration: none;
    color: rgb(33,37,41);
}

.form-group {
    font-family: 'Comic Sans MS', cursive;
    color: rgb(114,64,200);
    font-weight: bold;
}

.label-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-large {
    font-size: 20px;
}