/* navbar.css */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}  

.nav_right {
    position: relative;
    width: 10%;
    margin-right: 4%;
}


.navbar {
    position: relative;
    z-index: 100;
    background-color: rgb(33,37,41);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-between; /* 将导航栏的内容分散对齐，按钮在右侧 */
    align-items: center; /* 内部元素在交叉轴上居中对齐 */
}

.navbar ul {
    list-style-type: none;
    margin-left: 15px;
    padding: 0;
    width: 100%; /* 设置宽度为100% */
    height: 80px;
    display: flex;
    flex-direction: row; /* 从左往右排布 */
}

.navbar li {
    justify-content: space-between;
    margin: 10px; /*设置每个li的间距*/
    display: flex; /* 使用 Flex 布局 */
    align-items: center; /* 垂直居中 */
}

.nav_left a {
    color: white;
}
.navbar a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    transition: 0.2s; /* 添加平滑过渡效果 */
    text-decoration: none;
}

.navbar a:hover {
    transform: scale(1.2); /*鼠标悬停文字放大*/
}

.loginButton_a {
    margin-top: 7%;
    margin-right: 6%;
   
}

.registerButton_a {
    margin-top: 7%;
    margin-right: 2%;
}

#loginButton {
    width: 60px; 
    height: 30px;
    margin-bottom: 8%;
    margin-right: 4%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s; /* 添加平滑过渡效果 */
    border-radius: 15px; /* 设置按钮四角圆滑 */
    /* 使用 transform 属性来等比例扩大盒子 */
    transform: scale(1.2);
    /* 设置变换的原点，这里设置为左上角 */
    transform-origin: 0 0;
}

#loginButton:hover {
    transform: scale(1.2); /* 鼠标悬浮时按钮放大1.2倍 */
}

#registerButton {
    width: 60px; /* 设置按钮宽度 */
    height: 30px; /* 设置按钮高度 */
    margin-bottom: 8%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s; /* 添加平滑过渡效果 */
    border-radius: 15px; /* 设置按钮四角圆滑 */
    /* 使用 transform 属性来等比例扩大盒子 */
    transform: scale(1.2);
    /* 设置变换的原点，这里设置为左上角 */
    transform-origin: 0 0;
}

#registerButton:hover {
    transform: scale(1.2); /* 鼠标悬浮时按钮放大1.2倍 */
}