/* navbar.css */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}  

.navbar {
    position: relative;
    z-index: 100;
    background-color: rgb(33,37,41);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-between; /* 将导航栏的内容分散对齐，按钮在右侧 */
    align-items: center; /* 内部元素在交叉轴上居中对齐 */
}

.navbar a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    margin-left: 15px;
    padding: 0;
    width: 100%; /* 设置宽度为100% */
    height: 80px;
    display: flex;
    flex-direction: row; /* 从左往右排布 */
}

.navbar li {
    justify-content: space-between;
    margin: 10px; /*设置每个li的间距*/
    display: flex; /* 使用 Flex 布局 */
    align-items: center; /* 垂直居中 */
}

.nav_left a {
    color: white;
    font-style: italic;
    transition: 0.2s; /* 添加平滑过渡效果 */
    font-size: 30px;
}

.nav_left a:hover {
    transform: scale(1.2); /*鼠标悬停文字放大*/
}

.nav_right {
    position: relative;
    width: 220px;
    height: 80px;
    margin-right: 4%;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center;
}

.nav_right a {

    display: flex; /* 使用 Flex 布局 */
    justify-content: center;
    align-items: center; /* 垂直居中 */
    
}

.loginButton_a {
    font-size: 1.1rem;
    margin: 0.5rem;
}

.registerButton_a {
    font-size: 1.1rem;
    margin: 0.5rem;
}

#loginButton {
    width: 4.5rem;
    height: 2.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 18px; /* 设置按钮四角圆滑 */
    transition: 0.2s; /* 添加平滑过渡效果 */
}

#loginButton:hover {
    transform: scale(1.2); /* 鼠标悬浮时按钮放大1.2倍 */
}

#registerButton {
    width: 4.5rem;
    height: 2.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 18px; /* 设置按钮四角圆滑 */
    transition: 0.2s; /* 添加平滑过渡效果 */
}

#registerButton:hover {
    transform: scale(1.2); /* 鼠标悬浮时按钮放大1.2倍 */
}
