/* 隐藏栏目 */
.side-panel {
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgb(247, 245, 245);
    overflow-x: hidden;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 12px; /* 右上角设为0 */
    border-bottom-left-radius: 12px; /* 右下角设为0 */
}

.show {
    width: 21%;
    transition: 0.3s;
}

.hide {
    width: 0%;
    transition: 0.2s;
}

.side-panel ul {
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 100%;
    margin-top: 3%;
    height: 70%;
}

.side-panel li {
    flex: 1;
    flex-direction: column;
    font-size: 2rem;
    
}
/* 将样式应用于 li 内的链接（<a>标签） */
.side-panel li a {
    text-decoration: none;
    color: #060606;
    margin-bottom: 1.7rem;
}

/* 水平分割实线 */
.divider {
    border: 1px solid rgb(224,224,224); /* 添加顶部边框，设置实线，并指定颜色 */
    width: 90%;  /*让水平分割线几乎充满整个容器宽度*/
    border-radius: 15px;
}

.username {
    color: #060606;
    flex-direction: column;
    width: 70%;
    font-size: 16px;
    margin-top: 1.5rem;
}


/* 头像容器样式 */
.avatar-container {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    display: inline-block;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

/* 头像样式 */
.avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-img:hover {
    transform: scale(1.2);
    transition: 0.2s; /* 添加平滑过渡效果 */
}

/* 头像占位符样式 */
.avatar-placeholder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

/* 登出按钮样式 */
#signOutButton {
    width: 90px;
    height: 33px;
    background-color: #008CBA;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 11.5px;
}

/* 鼠标悬浮样式 */
#signOutButton:hover {
    background-color: #007A8B;
}

/* 其他样式 */
#overlayCanvas {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* 确保canvas不阻挡用户交互 */
    z-index: -1;

}

