body {
    font-family: Arial, sans-serif;
    background-color: #bfbebe;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;/* Center the container horizontally */
    align-items: center;/* Center the container vertically */
    height: 100vh; /* Set the height of the body to the full viewport height */
}

.login-container {
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555555;
}

input[type="phonenumber"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.sms {
    display: flex;
}

#sms {
    margin-left: 2%;
    width: 10rem;
    padding-left: 0.8rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
.down {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.down:hover {
    background-color: #45a049;
}