<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <!-- 加载静态文件 -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/nav/signup.css' %}">
</head>

<body>
    <div class="signup-container">
        <h1>注册</h1>

        <form id="registerForm" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in registered_form %}
                
                {% if field.label == '验证码' %}
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                <div class="captcha_nav">{{ field }}</div><!--特判图形验证码-->
                <br>
                {% else %}
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
                <br>
                {% endif %}
                
                {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endfor %}
            
            <button type="submit">注册</button>
        </form>
        <a href="{% url 'homepage_index' %}">
            <button>回到主页</button>
        </a>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('.captcha').click(function () {
            $.getJSON("/captcha/refresh/", function (result) {
                $('.captcha').attr('src', result['image_url']);
                $('#id_captcha_0').val(result['key'])
            });
        });
    </script>
</body>

</html>