<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>团队</title>
    <!-- 加载静态文件 -->
    {% load static %}
    <!-- 引入Bootstrap的CSS文件 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 引入自定义的CSS文件 -->
    <link rel="stylesheet" href="{% static 'css/teams/teams.css' %}">
    <link rel="stylesheet" href="{% static 'css/teams/modal.css' %}">
    <!-- 引入 Bootstrap 和 jquery 的 JavaScript 文件 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- 引入particles.js库 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
    <script src="{% static 'js/src/background.js' %}"></script>
    <script src="{% static 'js/src/team.js' %}"></script>

    <style>
        #deleteConfirmModal {
            z-index: 1100;
            /* 设置一个较高的层级值，确保弹窗在上层 */
        }

        #teamMemberModal {
            z-index: 1100;
            /* 设置一个较高的层级值，确保弹窗在上层 */
        }
    </style>
</head>

<body>
    {% include '../nav/navbar.html' %}

    <div class="container">
        <div class="row team-container" id=team-container>
            <!-- 这里加载团队卡片 -->
        </div>
    </div>

    <!-- modal元素 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">团队信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 这里显示团队详细信息 -->
                </div>
            </div>
        </div>
    </div>

    <!-- 显示成员信息弹窗 -->
    <div class="modal fade" id="teamMemberModal" tabindex="-1" role="dialog" aria-labelledby="teamMemberModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="teamMemberModalLabel">Team Member Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 显示 Team Member 信息的内容 -->
                    <div id="teamMemberInfo">
                        <p><strong>Name:</strong> <span id="memberName"></span></p>
                        <p><strong>MIB ID:</strong> <span id="memberMIBID"></span></p>
                        <p><strong>Student ID:</strong> <span id="memberStudentID"></span></p>
                        <p><strong>Email:</strong> <span id="memberEmail"></span></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!-- 删除团队的确认弹窗 -->
    <div class="modal" id="deleteConfirmModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">删除</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>确定要删除吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button id="confirmDeleteBtn" type="button" class="btn btn-danger">确认删除</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 编辑团队的弹窗 -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">编辑团队信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editTeamForm">
                        <div class="form-group">
                            <label for="name">团队名称</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="description">团队描述</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>

                        <!-- 显示团队成员列表 -->
                        <div>
                            <hr>
                            <h5>团队成员</h5>
                            <hr>
                            <ul id="team-members-list">
                                <!-- 这里将显示团队成员 -->
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="saveEditBtn">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 增加团队的弹窗 -->
    <div class="modal" id="addTeamModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">新增团队</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 表单-->
                    <form id="add-team-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="team-name">团队名称:</label>
                            <input type="text" class="form-control" id="team-name" required>
                        </div>
                        <div class="form-group">
                            <label for="team-description">团队描述:</label>
                            <input type="text" class="form-control" id="team-description">
                        </div>
                        <div class="form-group">
                            <label for="team-logo">团队 Logo:</label>
                            <input type="file" class="form-control-file" id="team-logo">
                        </div>
                        <div class="form-group">
                            <p id="add-team-error" class="text-danger" style="display: none;"></p> <!-- 显示错误消息 -->
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button id="save-team-btn" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 增加团队成员的弹窗 -->
    <div class="modal" id="addTeamMemberModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">新增团队成员</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 表单-->
                    <form id="add-team-member-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="teamname">所属团队名称:</label>
                            <input type="text" class="form-control" id="teamname" required>
                        </div>
                        <div class="form-group">
                            <label for="member-MIB-ID">MIB ID:</label>
                            <input type="text" class="form-control" id="member-MIB-ID" required>
                        </div>
                        <div class="form-group">
                            <label for="member-student-id">学生 ID:</label>
                            <input type="text" class="form-control" id="member-student-id" required>
                        </div>
                        <div class="form-group">
                            <label for="member-name">学生姓名:</label>
                            <input type="text" class="form-control" id="member-name" required>
                        </div>
                        <div class="form-group">
                            <label for="member-email">学生邮箱:</label>
                            <input type="email" class="form-control" id="member-email" required>
                        </div>
                        <div class="form-group">
                            <p id="add-team-member-error" class="text-danger" style="display: none;"></p>
                            <!-- 显示错误消息 -->
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button id="save-team-member-btn" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 在页面底部添加按钮 -->
    <div class="container">
        <button id="add-team-btn" class="btn btn-primary">新增团队</button>
        <button id="add-team-member-btn" class="btn btn-primary">新增团队成员</button>
    </div>


    <canvas class="Canvas" id="Canvas"></canvas>

    <script>
        // 在这个位置获取并设置CSRF token
        const csrftoken = getCookie('csrftoken');

        fetchTeams();

        // 在页面加载完成时调用函数
        $(document).ready(function () {
            handleAddTeam(); // 调用函数以设置按钮点击事件
            handleAddTeamMember();
        });

    </script>
</body>

</html>